/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	/* border: 1px solid black; */
	width: 85%;
	margin: 0 auto;
}

/* border test */
.section-1, .section-2 {
	/* border: 1px solid blue; */
}
/* .section-1 div, .section-2 div {
	border: 1px solid red;
} */
.mid-img-container {
	/* border: 1px solid olivedrab; */
}
.intro-container {
	height: 250px;
	margin-top: 60px;
	margin-bottom: 80px;
	text-align: center;
}
/* section divs / section1 section2 */
.section-1 div {
	display: inline-block;
	width: 45%;
}
.section-1 div:first-child {
	margin-right: 30px;
}
.section-2 div {
	display: inline-block;
	width: 33%;
}
.section-1, .section-2 {
	margin: 50px 0;
}
.section-1 {
	border-top: 1px solid black;
	padding-top: 30px;
}
.section-2 {
	border-bottom: 1px solid black;
	padding-bottom: 55px;
	margin-bottom: 40px;
}
/* center image */
.mid-img-container {
	text-align: center;
	margin: 0 0;
}

.middle-img {
	width: 90%;
}
/* Bottom section (address and footer) */
footer {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 80px;
}

/* Intro Section */
.intro {
	display: inline-block;
	width: 50%;
}
.intro-img {
	display: inline-block;
}
.intro-img img {
	width: 54%;
}

.logo {
	display: block;
}

.intro h1 {
	font-size: 60px;
}

.btn {
	border: 3px solid black;
	width: 150px;
	padding: 10px 10px;
	margin: 0 auto;
}

/* nav */
.header-container{
	display: inline-block;
	width: 70%;
}

header {	
	height: 50px;

}
header nav a {
	color: gray;
	text-decoration: none; 
	margin-right: 7%;
}

.logo-container{
	display: inline-block;
	width: 200px;
	margin-left: 40px;
}